<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TVMaze - Instaveritas</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/album/album.css">
    <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">TVMaze</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <div class="episodes-wrapper">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{show_info.name}}</h1>

                <p class="lead text-muted" v-html="show_info.summary">
                    {{show_info.summary}}

                <p>
                    <a href="#" class="btn btn-primary"
                       onclick="window.history.go(-1); return false;">Go Back</a>
                </p>
            </div>
        </section>

        <div class="album text-muted">
            <div class="container">

                <div class="row">
                    <div class="card col-md-3" v-for="episode in episodes">
                        <img v-if="episode.image != null" :src="episode.image.medium"
                             :alt="episode.name">
                        <img v-else src="assets/img/no-image.jpeg" :alt="episode.name">

                        <h5>Season <span>{{episode.season}}</span> - Episode <span>{{episode.number}}</span>
                        </h5>

                        <p class="card-text" v-html="episode.summary">{{episode.summary}}</p>
                        <a :href="episode.url" target="_blank" class="btn btn-success">Watch now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<footer class="container">
    <p>&copy; Arpit Maheshwari</p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
<script src="assets/js/detail.js"></script>
</body>
</html>